{% load custom_tags %}
<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

<!-- Название у нас будет News -->
{% block title %}
    News
{% endblock title %}


{% block content %}

    <h1>Все новости</h1>
    <h2> Количество публикаций: {{ posts|length }}</h2>
    <hr>
    {% if posts %}
        <table class="table mt-5 table-bordered table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <td><h3>Заголовок</h3></td>
                <td><h3>Дата публикации</h3></td>
                <td><h3>Текст статьи</h3></td>
            </tr>
            </thead>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title_article_news|censor }}</td>
                    <td>{{ post.time_in|date:'d.m.Y, h:i' }}</td>
                    <td>{{ post.text_article_news|truncatechars:20|censor }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Публикаций нет</h2>
    {% endif %}
    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        {# Для каждой ссылки пагинации указываем обработку через новый тег #}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}